.rootcontainer{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    height: 92vh;
    width: 80%;
    margin-left: 20%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(203, 156, 156, 0.2);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0, 0.2);
    margin-top: .5rem;
    width: 300px;
    height: 100px;
    background-color: var(--color2);
}

.section{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding: 1rem;
}

.section h3{
    margin: .5rem;
}

.aksi{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.card:hover{
    background-color: var(--color3);
    color: var(--color1);
}

.orderq{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid rgba(0,0,0, 0.2);
    text-align: center;
    border-radius: .5rem;
}