.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: .5em;
}

.category{
    text-align: center;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: aliceblue;
    padding: .7rem;
}

.navbar button{
    background-color: antiquewhite;
    border-radius: .5rem;
    border: none;
    color: black;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 175px;
    font-size: 15px;
}

.selected{
    background-color: #5ba4e5 !important;
    font-weight: bold;
}

@media print{

    .navbar, .category{
        visibility: hidden;
    }

    .container{
        display: block;
    }

    .printarea{
        visibility: visible;
        display: block;
    }

    .dontprint{
        display: none;
    }
}