.container{
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 92vh;
    padding: 2rem;
    column-gap: 2rem;
    width: 80%;
    margin-left: 15%;
}

.listcontainer{ 
    max-height: 92vh;
    overflow: scroll;
    width: 80%;
    margin: 1rem;
}

.listitem{
    list-style-type: none;
    padding: 1rem;
    background-color: var(--color2);
    border-radius: 1rem;
    margin: .5em;
}

.listitem:hover{
    background-color: var(--color3);
    color: var(--color1)
}