.form{
    background-color: var(--color3);
    width: 95%;
    height: 95%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 700;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}


.tambahmenuform{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
}

.tambahmenuform button{
    padding: .5rem;
    margin-left: .5rem;
}

.tambahmenuform label{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}

.submitbtn {
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
}

.paketcontainer{
    max-height: 150px;
    overflow-y: scroll;
}

.inputcontainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: .5rem;
}

.inputpaketcontainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: top;
    padding: .5rem;
}

.form input{
    border-radius: .5rem;
    padding: .5rem;
    border: none;
}

.paketlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pembatas{
    border-top: 1px solid white;
    padding-top: 1rem;
}

.jumlahpaket{
    display: flex;
    align-items: center;
    justify-content: right;
}

.jumlahpaket input{
    width: 25%;
}

.finishbutton{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

.finishbutton button{
    margin-top: 0.5rem;
}

.image{
    width: 400px;
    height: auto;
    border-radius: .5rem;
}