.tambahmenuform{
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 500px;
}

.tambahmenuform label{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}

.submitbtn {
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
}

.paketcontainer{
    max-height: 250px;
    overflow-y: scroll;
}

.inputcontainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: .5rem;
}

.inputpaketcontainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: top;
    padding: .5rem;
}

.paketlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pembatas{
    border-top: 1px solid white;
    padding-top: 1rem;
}

.jumlahpaket{
    display: flex;
    align-items: center;
    justify-content: right;
}

.jumlahpaket input{
    width: 25%;
}

.finishbutton{
    display: flex;
    flex-direction: column;
}

.finishbutton button{
    margin-top: .5rem;
}

.image{
    width: 200px;
    height: auto;
    border-radius: .5rem;
}