html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color1);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

button:hover{
  background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
  cursor: pointer;
}

.btn-primary{
  background-color: #D09CFA;
  color: #222831;
  padding: .4rem .8rem;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
}

.btn-danger{
  background-color: #EA5455;
  color: white;
  padding: .4rem .8rem;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
}

:root{
  --color1: #EEEEEE;
  --color2: #00ADB5;
  --color3: #393E46;
  --color4: #222831;
  --color5: #EAFDFC;
  --color6: #D09CFA;
  --color7: #EA5455;
}

*::-webkit-scrollbar {
  display: none;
}