.container{
    width: 100%;
    height: 8vh;
    padding: 10px;
    background-color: var(--color3);
    color: var(--color1);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 2;
}

.container button{
    margin: .5rem;
}

@media print {
    .container{
        visibility: hidden;
    }
}