.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
    margin-left: 25%;
    width: 50%;
}

.containerexisting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.containerexisting button{
    margin: .5rem;
    padding: 1rem;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    background-color: var(--color2);
    width: 300px;
    height: 4rem;
}

.selected{
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid black;
    width: 300px;
}

.newmeja{
    color: var(--color1);
    background-color: var(--color3);
    padding: 1rem;
    height: fit-content;
    border-radius: 1rem;
    margin-top: 4rem;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}