.ordercard{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(203, 156, 156, 0.2);
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    border: .5px solid rgba(0, 0, 0, 0.1);
}

.printinfo{
    display: none;
}

.orderinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: relative;
}

.orderitem{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    justify-content: left;
    grid-template-areas: "a b c d";
    align-items: center;
    column-gap: 1rem;
    height: fit-content;
}

.requestcancel{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    align-items: center;
}

.garisbawah{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.orderlist{
    height: fit-content;
}

.isiPaket{
    margin-left: 1em;
    font-size: small;
}

.orderlistcontainer{
    width: 100%;
    height: auto;
    overflow-y: scroll; 
}

.btnaccept{
    background-color: antiquewhite;
    border: none;
    border-radius: .5rem;
    color: black;
    padding: .3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    font-size: 12px;
    margin-top: 1em;
}

.btnaccept:hover{
    background-color: lightblue;
}

.additionalorder{
    color: salmon;
}

.inputnumber{
    width: 50px;
    margin-right: .5rem;
}

.orderjumlah{
    grid-area: b;
}

.harga{
    width: 100px;
    grid-area: d;
}


.orderaction{
    display: flex;
    grid-area: d;
    justify-content: space-between;
}

.orderinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderinput input{
    height: 1.5rem;
}

.orderbutton{
    display: flex;
    flex-direction: column;
}

.orderbutton button{
    height: 1.5rem;
    white-space: nowrap;
}

.additionalordercontainer{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
}

.orderlisttambahan{
    height: fit-content;
    overflow-y: scroll;
    width: 100%;
}

.orderlisttambahan p{
    color: salmon;
}

.listtambahan{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.printadditional{
    width: 100%;
}

.dontprint{
    width: 100%;
}

.uuid{
    text-align: left;
    width: 100%;
    font-size: small;
}

.total{
    margin-top: 1rem;
    width: 100%;
}

.total label{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.total label p{
    margin: 0;
}

.btn{
    padding-top: .5rem;
    margin-top: auto;
}

.additionalbtn{
    padding-top: .5rem;
    margin-top: auto;
}


@media print{
    .ordercard{
        border: none;
        box-shadow: none;
    }

    .table{
        font-size: small;
    }

    .uuid{
        font-size: xx-small;
    }

    .printinfo, .total{
        font-size: small;
        display: block;
    }

    .orderlistcontainer{
        display: block;
        width: 100%;
        height: auto;
        overflow: visible;
    }

    .isiPaket{
        margin-left: 0;
    }

    .additionalordercontainer{
        border: none;
    }

    .additionalordercontainer h4{
        display: none;
    }

    .waitingtime, .orderaction, .orderinput, .orderbutton, .btnaccept, .btn, .dontprint, .garisbawah, .additionalbtn{
        display: none;
    }

    .printadditional{
        display: block;
    }

    .harga{
        width: 150px;
    }

    .orderitem{
        border: none;
        color: black;
        font-size: small;
        display: flex;
        justify-content: space-between;
    }

    .namamenu{
        text-align: left;
        padding: 0;
        width: 90px
    }

    .orderjumlah{
        text-align: right;
        padding: 0;
        width: 30px;
    }

    .harga{
        text-align: right;
        margin-right: 5px;
        width: 90px;
    }

    .total{
        border-top: 1px solid black;
        display: block;
    }

    .listtambahan{
        border: none;
    }

    .additionalorder{
        color: black;
    }
}